In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
file_path = 'financial_risk_assessment.csv'  
df = pd.read_csv(file_path)

In [3]:
# Initial Data Exploration
print("First few rows of the dataset:")
print(df.head())

First few rows of the dataset:
   Age      Gender Education Level Marital Status   Income  Credit Score  \
0   49        Male             PhD       Divorced  72799.0         688.0
1   57      Female      Bachelor's        Widowed      NaN         690.0
2   21  Non-binary        Master's         Single  55687.0         600.0
3   59        Male      Bachelor's         Single  26508.0         622.0
4   25  Non-binary      Bachelor's        Widowed  49427.0         766.0

   Loan Amount Loan Purpose Employment Status  Years at Current Job  \
0      45713.0     Business        Unemployed                    19
1      33835.0         Auto          Employed                     6
2      36623.0         Home          Employed                     8
3      26541.0     Personal        Unemployed                     2
4      36528.0     Personal        Unemployed                    10

  Payment History  Debt-to-Income Ratio  Assets Value  Number of Dependents  \
0            Poor              0.154313      120228.0                   0.0
1            Fair              0.148920       55849.0                   0.0
2            Fair              0.362398      180700.0                   3.0
3       Excellent              0.454964      157319.0                   3.0
4            Fair              0.143242      287140.0                   NaN

              City State       Country  Previous Defaults  \
0   Port Elizabeth    AS        Cyprus                2.0
1  North Catherine    OH  Turkmenistan                3.0
2      South Scott    OK    Luxembourg                3.0
3       Robinhaven    PR        Uganda                4.0
4      New Heather    IL       Namibia                3.0

   Marital Status Change Risk Rating
0                      2         Low
1                      2      Medium
2                      2      Medium
3                      2      Medium
4                      1         Low

In [4]:
print("\nDataset Information:")
df.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    15000 non-null  int64
 1   Gender                 15000 non-null  object
 2   Education Level        15000 non-null  object
 3   Marital Status         15000 non-null  object
 4   Income                 12750 non-null  float64
 5   Credit Score           12750 non-null  float64
 6   Loan Amount            12750 non-null  float64
 7   Loan Purpose           15000 non-null  object
 8   Employment Status      15000 non-null  object
 9   Years at Current Job   15000 non-null  int64
 10  Payment History        15000 non-null  object
 11  Debt-to-Income Ratio   15000 non-null  float64
 12  Assets Value           12750 non-null  float64
 13  Number of Dependents   12750 non-null  float64
 14  City                   15000 non-null  object
 15  State                  15000 non-null  object
 16  Country                15000 non-null  object
 17  Previous Defaults      12750 non-null  float64
 18  Marital Status Change  15000 non-null  int64
 19  Risk Rating            15000 non-null  object
dtypes: float64(7), int64(3), object(10)
memory usage: 2.3+ MB

In [5]:
print("\nSummary Statistics:")
print(df.describe())

Summary Statistics:
                Age         Income  Credit Score   Loan Amount  \
count  15000.000000   12750.000000  12750.000000  12750.000000
mean      43.452667   69933.398510    699.109098  27450.010902
std       14.910732   29163.626207     57.229465  12949.940135
min       18.000000   20005.000000    600.000000   5000.000000
25%       31.000000   44281.500000    650.000000  16352.500000
50%       43.000000   69773.000000    699.000000  27544.000000
75%       56.000000   95922.750000    748.000000  38547.500000
max       69.000000  119997.000000    799.000000  49998.000000

       Years at Current Job  Debt-to-Income Ratio   Assets Value  \
count          15000.000000          15000.000000   12750.000000
mean               9.476267              0.350438  159741.497176
std                5.769707              0.143919   80298.115832
min                0.000000              0.100004   20055.000000
25%                4.000000              0.227386   90635.250000
50%                9.000000              0.350754  159362.000000
75%               15.000000              0.476095  228707.000000
max               19.000000              0.599970  299999.000000

       Number of Dependents  Previous Defaults  Marital Status Change
count           12750.00000       12750.000000           15000.000000
mean                2.02651           1.992471               0.998467
std                 1.41130           1.416909               0.813782
min                 0.00000           0.000000               0.000000
25%                 1.00000           1.000000               0.000000
50%                 2.00000           2.000000               1.000000
75%                 3.00000           3.000000               2.000000
max                 4.00000           4.000000               2.000000

### Data missing value check

In [6]:
# Checking for missing values
print("\nMissing Values per Column:")
print(df.isnull().sum())

Missing Values per Column:
Age                         0
Gender                      0
Education Level             0
Marital Status              0
Income                   2250
Credit Score             2250
Loan Amount              2250
Loan Purpose                0
Employment Status           0
Years at Current Job        0
Payment History             0
Debt-to-Income Ratio        0
Assets Value             2250
Number of Dependents     2250
City                        0
State                       0
Country                     0
Previous Defaults        2250
Marital Status Change       0
Risk Rating                 0
dtype: int64

## Data Preprocessing

In [7]:
# Handle missing values (example: fill numerical NaNs with median, categorical with mode)
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
categorical_cols = df.select_dtypes(include=['object']).columns

In [8]:
# Fill missing numerical columns with median values
for col in numerical_cols:
    df[col].fillna(df[col].median(), inplace=True)

In [9]:
# Fill missing categorical columns with mode values
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [10]:
# Verify no missing values remain
print("\nMissing Values after Imputation:")
print(df.isnull().sum())

Missing Values after Imputation:
Age                      0
Gender                   0
Education Level          0
Marital Status           0
Income                   0
Credit Score             0
Loan Amount              0
Loan Purpose             0
Employment Status        0
Years at Current Job     0
Payment History          0
Debt-to-Income Ratio     0
Assets Value             0
Number of Dependents     0
City                     0
State                    0
Country                  0
Previous Defaults        0
Marital Status Change    0
Risk Rating              0
dtype: int64

In [11]:
# Outlier Detection and Handling
# For example, handling 'Income' and 'Credit Score' outliers using z-scores
from scipy.stats import zscore

In [12]:
# Calculate z-scores and filter out rows with z-score > 3 (can adjust threshold as needed)
z_scores = np.abs(zscore(df[numerical_cols]))
df = df[(z_scores < 3).all(axis=1)]

In [13]:
# Feature Engineering (Example: Convert 'Employment Status' and 'Loan Purpose' into dummy variables)
df = pd.get_dummies(df, columns=['Employment Status', 'Loan Purpose'], drop_first=True)

In [14]:
# Save cleaned data to a new CSV file (optional)
df.to_csv('cleaned_financial_risk_assessment.csv', index=False)

In [15]:
print("\nData Preprocessing Complete. Cleaned data saved as 'cleaned_financial_risk_assessment.csv'")

Data Preprocessing Complete. Cleaned data saved as 'cleaned_financial_risk_assessment.csv'